.create-department-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.dep-name-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label {
    float: left;
    width: 10em;
    margin-right: 1em;
    text-align: right;
    color: navy;
    font-size: 20px;
 }

 .error-message {
    margin-left: 20px;
    align-self: center;
 }

.create-department-container .d-flex {
    width: 85%;
    justify-content: flex-end;
}