.add-link {
    text-decoration: none;
    color:  green;
    margin-top: 30px;
 }
 
 .link {
    text-decoration: none !important;
 }
 
 .link:hover {
    color: green !important;
 }

 .title {
    margin-top: 70px;
    padding-bottom: 10px;
 }

 .department-logo {
   width: 30vw;
 }

