.add-dep-label {
    color: green;
    margin-left: 5px;
    padding-right: 10px;
    font-size: 20px;
}

.select-department{
    padding: 5px;
    margin-left: 10px;
    width: 40vw;
}

.title {
    margin-top: 70px;
}


input, select {
    font-family: Arial, Helvetica, sans-serif !important;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
 }