.link {
    text-decoration: none;
    margin-top: 20px;
}
.error{
    padding-top: 30px;
     margin-left: 10px;
  }
 .link {
    text-decoration: none !important;
}

.link:hover {
    color: green !important;
}
